:root {
    --bdrrad: 3px;
    --bdrcolor: #d4d4d4;
    --btncolor: #d3d3d3;
    --btnbdrcolor: #646464;
    --glbfont: calibri;
}

body {
    width: 300px;
    font-family: var(--glbfont);
}

input[type=text] {
    border: 1px solid var(--bdrcolor);
    padding: 2px 10px;
    font-family: var(--glbfont);
    border-radius: var(--bdrrad);
}

button {
    background-color: var(--btncolor);
    border: 1px solid var(--btnbdrcolor);
    margin: 0 5px;
    border-radius: var(--bdrrad);
}

#regForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
}

#regError {
    color: red;
    font-size: .9em;
    margin-top: -10px;
}

#userNameButton {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#querySearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    width: 277px;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.titleArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--bdrcolor);
    padding: 2px 4px;
}

.title {
    width: 100%;
    font-weight: bold;
}

.caret-link {
    padding-right: 5px;
}
.caret-link:hover {
    cursor: pointer;
}

.copyButton {
    justify-content: flex-end;
}

.buttonArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.hide {
    z-index: -999;
}

.deleteButton {
    font-size: 1.5em;
    padding: 0 3px;
    font-weight: bold;
    cursor: pointer;
}

.deleteButton:hover {
    opacity: .6;
}

.deleteButton:active {
    opacity: 1;
}

.btn-medium {
    font-size: .9em;
    padding: 4px 9px;
}

.btn-small {
    font-size: .8em;
    padding: 2px 5px;
}